<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml">
  	<head>
  		<!-- Meta data -->
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>+ Campaigns | {{title}}</title>

		<meta property="og:site_name" content="+ Campaigns"/>
		<meta property="og:url" content="{{request.url}}"/>
		<meta property="og:title" content="+ Campaigns | {{title}}"/>

		<!-- css imports -->
		<link type="text/css" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
		<link type="text/css" rel="stylesheet" href="/static/css/site.css" />
		<link type="text/css" rel="stylesheet" href="/static/css/flex-video.css" />

		<!-- js imports -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/static/js/base.js"></script>

		<script>
		  (function() {
		    var cx = '018140274854812411206:8mndxehafz0';
		    var gcse = document.createElement('script'); gcse.type = 'text/javascript'; gcse.async = true;
		    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
		        '//www.google.com/cse/cse.js?cx=' + cx;
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(gcse, s);
		  })();
		</script>

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
	    	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	    	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

		<!-- other -->
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

		<!-- template -->
		{% block head %}{% endblock %}

		<!-- analytics -->
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		  ga('create', 'UA-50262480-1', 'pluscampaign.com');
		  ga('send', 'pageview');
		</script>

  	</head>

  	<body>
  		<div id="background-image" style="background-image: url(/static/images/base/backgrounds/{{ random_background_image() }});">

			<header class="container shadow">
				<div class="container">
					<div class="row">
						<div class="col-md-3" id="logo">
							<a href="/">+ Campaigns</a><br />
							<span>Making your voice heard</span>
						</div>
						<div class="col-md-6">
							<nav>
								<ul id="minor">
									<li><a href="/">Home</a></li>
									<li><a href="/contact">Contact</a></li>
									<li><a href="/media">Media</a></li>
									<li><a href="#" onclick="alert('Coming soon!');">Twitter</a></li>
									<li><a href="#" onclick="alert('Coming soon!');">Facebook</a></li>
									<li><a href="#" onclick="alert('Coming soon!');">YouTube</a></li>
								</ul>
								<ul id="major">
									<li><a href="/we-are">We Are</a></li>
									<li><a href="/your-campaign">Your Campaign Services</a></li>
									<li><a href="/research">We're in Touch</a></li>
									<li><a href="/contact">Contact Us</a></li>
								</ul>
							</nav>
						</div>

						<div class="col-md-3">
							<form action="/search" method="GET">
								<div class="input-group">
							        <input type="text" name="query" placeholder="Search Plus Campaigns" class="form-control" />
							        <span class="input-group-btn">
    							        <input type="submit" class="btn btn-default">Search</button>
							        </span>
							    </div><!-- /input-group -->
							</form>
						</div>

					</div>
				</div>

			</header>

			{% if self.summary() %}
			<div class="container">
				<summary>
					{% block summary %}{% endblock %}
				</summary>
			</div>
			{% endif %}

			<main class="container shadow-half" id="content">
				{% block content %}{% endblock %}
			</main>

			<footer class="container">
				<div class="row">
					<div class="col-md-12">
						<div id="web-dev-by">Web Development by <a href="http://maxmakedesign.co.uk" target="_blank" class="track">MaxMakeDesign</a></div>
					</div>
				</div>
			</footer>

		</div>
  	</body>
</html>
