/* USEFUL

@media(max-width:767px){}
@media(min-width:768px){}
@media(min-width:992px){}
@media(min-width:1200px){}

*/ 

/* generic */
@font-face
{
	font-family: avantGardeGothic;
	src: url(/static/fonts/itc-avant-garde-gothic.ttf);
}

@font-face
{
	font-family: avantGardeGothicBold;
	src: url(/static/fonts/itc-avant-garde-gothic-bold.ttf);
}

body {
	margin: 0px;
	padding: 0px;
	background-color: #f5f5f5; /* grey */
	font-family: avantGardeGothic;
	font-size: 16px;
}

body.home {
	background-color: #fed30d; /* yellow */
}

body.home header {
	margin-bottom: 40px;
}

header {
	background-color: #fed30d;
}

h1, h2, h3, h4, h5 {
	font-family: avantGardeGothicBold;
}

a:hover {
	background-color: #FFDE49; /* light yellow */
	text-decoration: none;
	transition: background-color 0.5s;
}

body.home footer.container {
	margin-top: -110px;
}


/* base */
header {
	padding-top: 10px;
}

header #title-slogan {
	text-align: center;
	margin-bottom: 10px
}

header #title-slogan a {
	padding: 10px;
	color: #333; /* dark grey */
	font-family: avantGardeGothicBold;
}

@media(max-width:767px){
	header #title-slogan #title {
		font-size: 35px;
	}
	header #title-slogan #slogan {
		font-size: 20px;
	}
}

@media(max-width:1200px) and (min-width: 767px){
	header #title-slogan #title {
		font-size: 48px;
	}	
	header #title-slogan #slogan {
		font-size: 22px;
	}
}

@media(min-width:1200px){
	header #title-slogan #title {
		margin-top: 20px;
		font-size: 52px;
	}
	header #title-slogan #slogan {
		font-size: 24px;
	}
}

header #like-follow {
	min-height: 30px;
}

@media(min-width:992px){
	header #like-follow table {
		float: right;
	}
}

@media(max-width:992px){
	header #like-follow table {
		margin: 0px auto;
	}

	header #share table {
		margin: 0px auto 30px auto;
	}
}


header #like-follow table {
	margin-top: 29px;
	width: 100px;
}

header #like-follow #follow {
	vertical-align: top;
}

header #like-follow table iframe {
	width: 70px;
}

header #share table {
	margin-top: 18px;
	width: 162px;
}

header #share table td {
	padding: 5px;
}


.navbar .nav, .navbar .nav > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    *zoom:1; /* hasLayout ie7 trigger */
    vertical-align: top;
}

.navbar {
    text-align:center;
    margin-bottom: 0px !important;
}

.navbar .brand.hidden-desktop{
    float:none;
}

.navbar-inverse .navbar-nav > li > a {
	color: white;
}

.navbar-inverse .navbar-nav > li > a:hover {
	transition: color 0.5s;
	color: #fed30d;
}

ul.flashes {
	padding: 0px;
}

ul.flashes li {
	background-color: #ccc;
}

body .footer-icons-home {
	display: none;
}

body.home .footer-icons-home{
	display: block;
	height: 112px;
}

footer .share {
	max-width: 300px;
	text-align: center;
	margin: 20px 0px;
}

@media(max-width:992px){
	footer .share img {
		max-width: 179px;
	}
}

@media(max-width: 768px){
	footer .share img {
		max-width: 100%;
	}
}

footer {
	margin-top: 20px;
}

footer #hash-tags {
	text-align: center;
	font-family: avantGardeGothicBold;
	font-size: 18px;
	margin-bottom: 20px;
}

footer #hash-tags a {
	color: #333;
}

#web-dev-by {
	text-align: center;
	margin: 30px 0px 30px 0px;
	opacity: .80;
}

#web-dev-by:hover {
	opacity: 1;
	transition: opacity .5s;
}

/* text-half */
#text-half img {
	float: left;
	max-width: 600px;
	width: 100%;
	padding: 0px 30px 0px 0px;
}

#text-full img {
	max-width: 100%;
	margin: 20px 0px;
}
/* pages */

#youtube img {
	width: 100%;
}

img#donate {
	margin: 0px auto;
	display: block;
	margin-top: 50px;
}

table.media td {
	padding: 0px 5px;
}