{% extends "base.html" %}
{% block content %}
<div class="row">
	<div class="col-md-8">
		<h1>EUROPEAN ELECTIONS 2014</h1>
	</div>
	<div class="col-md-4">
		<img src="/static/images/about/logo.jpg" width="150" height="150" style="float: left" />
	</div>
</div>
<h2>Vote In May</h2>
<h3>Getting involved in your European Elections!</h3>
<p>
	In past European elections, a general lack of information on the elections and the issues at stake meant that around 70% of the European Union's youth did not make use of their right to vote. As a consequence, the focus on young people's needs and interests was alarmingly low. Young people of the EU are barely represented in the European Parliament and issues concerning them are not debated! Yet the current crisis has hit many of us - it has particularly affected the lives of young people.
</p>
<p>
	Whatever your opinion of the EU may be, the EU makes decisions that influence your daily life. Being involved in these decisions is therefore important for you and for the society you live in. We want you to be able to tell decision-makers where their focus should be, and start discussing with politicians on how you see the future! We will help by building a relationship with policymakers and letting them know that your voice needs to be heard.
</p>
<p>
	Through the League of Young Voters, you will find all the information you need in order to vote in an informed way; make yourself heard and; select the leaders that you feel represent you best. <a href="/donate">Click here to donate to help the cause!</a>
</p>
{% endblock %}
