{% extends "layouts/text.html" %}
{% block content_text %}
<p>
	<b>+ Campaigns</b> specialises in designing and producing audio-visual products for our clients, whether for campaign or advertisement purposes. With audio-visual teams of up to ten people <b>+ Campaigns</b> prides itself on producing trend-setting videos with a solid understanding of political requirements, target groups and current online and print advertisement methodologies. What differentiates us from our competitors? 
</p>
<p>
	<ul>
		<li>We work with well-equipped audio-visual teams from Ghent and Brussels</li>
		<li>We quantitatively study political market research and online trend setting </li>
		<li>We work with separate experts in Social Media, Advertisement and Journalism</li>
		<li>We work with solid advertisement methodologies</li>
		<li>We prioritise innovation and creativeness </li>
		<li>We guarantee cost-beneficial prices and transparency </li>
		<li>We guarantee more time and dedication spent on you, our client</li>
	</ul>
</p>
<p>
	<b>+ Campaigns</b> specialise in the following audio-visual products:
	
	<h2>Campaign videos</h2>
	Tailor made to suit clients and appeal to mass audiences; our campaign videos aim to increase viewer association through traditional media platforms and national broadcasters, as well as psychological analysis and online-viral studies.

	<h2>Promotional videos</h2>
	Aimed at a specific audience, our promotional videos focus on communicating an event or a message, while ensuring high levels of branding, awareness and impact.

	<h2>Advertisement videos</h2>
	Based on similar methodological calculations as political awareness, our advertisement videos rely on strong market analysis, intelligent-marketing and anchoring consumer association through visual and musical stimuli. 

	<h2>TV Broadcasting & Anchoring</h2>
	As a result of working with trained journalists, our broadcasting and anchoring videos reflect our journalistic know-how and experience. Dedicated to newsworthiness and good angles, we provide our clients with expert anchors and audio-visual coverage.

</p>
{% endblock %}
