<!DOCTYPE html>
<html lang="en">
  	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>HappyVoting | {{title}}</title>

		<!-- css imports -->
		<link type="text/css" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
		<link type="text/css" rel="stylesheet" href="/static/css/site.css" />
		<link type="text/css" rel="stylesheet" href="/static/css/flex-video.css" />

		<!-- js imports -->
		<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
	    	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	    	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
  	</head>
  	<body{% if title == 'Home' %} class="home"{% endif %}>
		<header>
			<div class="container">
				<div class="row">
					<div id="title-slogan" class="col-md-6">
						<p><a id="title" href="/" title="Home Page">Happy Voting</a></p>
						<p><a id="slogan" href="https://twitter.com/search?q=%23HappyVoting" target="_new">#VoteInMay</a></p>
					</div>
					<nav id="navigation" class="col-md-6">
						<a href="/about" title="Home Page">Young Voters</a> | <a href="/media">Media</a>
					</nav>
				</div>
			</div>
		</header>
		<div id='container-parent'>
			<main class="container">
				{% with flashes = get_flashed_messages() %}
			  		{% if flashes %}
						<ul class="flashes">
						{% for flash in flashes %}
					  		<li>{{ flash }}</li>
						{% endfor %}
						</ul>
			  			{% endif %}
					{% endwith %}
				{% block content %}{% endblock %}
			</main>
		</div>
		<footer class="container">
			<div class="row">
				<div class="col-md-3 share">
					<img src="/static/images/base/facebook.png" />
				</div>
				<div class="col-md-3 share">
					<img src="/static/images/base/google-plus.png" />
				</div>
				<div class="col-md-3 share">
					<img src="/static/images/base/pinterest.png" />
				</div>
				<div class="col-md-3 share">
					<img src="/static/images/base/twitter.png" />
				</div>
			</div>
		</footer>
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-49133771-1', 'happyvoting.eu');
			ga('send', 'pageview');
		</script>
  	</body>
</html>
