{% extends "layouts/text-full.html" %}
{% block content_text %}
	<p>
		In light of the European Parliamentary elections on May 20-25, it’s becoming increasingly important to promote online voter participation and turnout among Europe’s youth. Based on this idea, non-governmental organisations and volunteers have come together to assist in the production of Happy Voting, Europe's first non-institutional and large-scale voter-turnout campaign. Mixing pop-culture and voter awareness, the campaign helps reach European voters through their two favourite channels: entertainment and the Internet. 
	</p>
	<p>
		Based on Pharrell William’s ‘Happy Formula’, which incorporates a selection of non-actors who separately dance to the catchy billboard song, the video aims to promote voter awareness and youth turnout. Entertaining and fun, the video includes shots of Europeans from all walks of life, including a dancing construction worker, accountant, teacher, nudist, drag queen, student, and several members of the European Parliament. The list of participants in the video goes on to include over fifty ethnically and religiously different dancers, representing Europe’s diverse populations in a light-hearted and interactive fashion.
	</p>
	<p>
		Endorsed by celebrities and hundreds of organisations, the video will also be showed during the EYE 2014 event in Strasbourg with over five thousand young participants. The campaign helps promote the Happy Voting video to a pan-European audience with the aim of reaching as many viewers as possible before the elections in May.
	</p>
 
	<p>
		The video is shared through a variety of channels, including social media sites, blogs, websites and media outlets. The campaign does not use advertisement tools and instead relies on volunteers to share the Happy Voting video. 
	</p>
	<p>
		Get involved now by <a href="/take-action">supporting the campaign</a>!
	</p>
{% endblock %}
