{% extends "layouts/text.html" %}
{% block content_text %}
<h3>Contact Our Office</h3>
<p>
	Client inquiries: <a href="mailto:sdv@pluscampaigns.com">sdv@pluscampaigns.com</a><br />
	Press inquiries: <a href="mailto:media@pluscampaigns.com">media@pluscampaigns.com</a><br />
	Website: <a href="mailto:web@pluscampaigns.com">web@pluscampaigns.com</a><br />
	Recruitment: <a href="mailto:recruitment@pluscampaigns.com">recruitment@pluscampaigns.com</a><br />
</p>
<h3>+ Campaigns</h3>
<p>
	Avenue Milcamps 47<br />
	B-1030 Brussels<br />
	Belgium<br />
	Tel: <a href="tel:+32 (0) 471 07 23 24">+32 (0) 471 07 23 24</a>
</p>
<img src="/static/images/contact/map.png" id="map" />
{% endblock %}
