{% extends "layouts/text.html" %}
{% block content_text %}
	<h2>Cookies and how they Benefit You</h2>

	<p>Our website uses cookies, as almost all websites do, to help provide you with the best experience we can.
	Cookies are small text files that are placed on your computer or mobile phone when you browse websites</p>
	<p>Our cookies help us:</p>

	<ul>
		<li>Make our website work as you'd expect</li>
		<li>Improve the speed/security of the site</li>
		<li>Allow you to share pages with social networks like Facebook</li>
		<li>Continuously improve our website for you</li>
		<li>Make our marketing more efficient</li>
	</ul>

	<p>We do not use cookies to:</p>

	<ul>
		<li>Collect any personally identifiable or sensitive information</li>
		<li>Pass data to advertising networks</li>
		<li>Pass personally identifiable data to third parties</li>
		<li>Pay sales commissions</li>
	</ul>

	<p>You can learn more about all the cookies we use below</p>

	<h2>Granting us permission to use cookies</h2>

	<p>If the settings on your software that you are using to view this website (your browser) are adjusted to accept cookies we take this, and your continued use of our website, to mean that you are fine with this. Should you wish to remove or not use cookies from our site you can learn how to do this below, however doing so will likely mean that our site will not work as you would expect.</p>

	<h2>More about our Cookies</h2>

	<h3>Website Function Cookies</h3>

	<h3>Third party functions</h3>

	<p>Our site, like most websites, includes functionality provided by third parties.  A common example is an embedded YouTube video.  Our site includes the following which use cookies:</p>

	<ul>
		<li>YouTube - <a href="">Privacy Policy</a> powers the videos on our site </li>
	</ul>

	<p>Disabling these cookies will likely break the functions offered by these third parties</p>

	<h3>Social Website Cookies</h3>

	<p>So you can easily "Like" or share our content on the likes of Facebook and Twitter we have included sharing buttons on our site.</p>

	<p>The privacy implications on this will vary from social network to social network and will be dependent on the privacy settings you have chosen on these networks.</p>

	<h3>Anonymous Visitor Statistics Cookies</h3>

	<p>We use cookies to compile visitor statistics such as how many people have visited our website, what type of technology they are using (e.g. Mac or Windows which helps to identify when our site isn't working as it should for particular technologies), how long they spend on the site, what page they look at etc.  This helps us to continuously improve our website. These so called "analytics" programs also tell us on an anonymous basis, how people reached this site (e.g. from a search engine) and whether they have been here before helping us to put more money into developing our services for you instead of spending it on marketing..</p>

	<h3>Turning Cookies Off</h3>

	<p>You can usually switch cookies off by adjusting your browser settings to stop it from accepting cookies (Learn how <a href=" http://www.attacat.co.uk/resources/cookies/how-to-ban">here</a>). Doing so however will likely limit the functionality of our's and a large proportion of the world's websites as cookies are a standard part of most modern websites</p>

	<p>It may be that your concerns around cookies relate to so called "spyware". Rather than switching off cookies in your browser you may find that anti-spyware software achieves the same objective by automatically deleting cookies considered to be invasive. Learn more about <a href="http://www.attacat.co.uk/resources/cookies/how-to-control-your-online-privacy">managing cookies with antispyware software</a>.</p>

	<p>The cookie information text on this site was derived from content provided by Attacat Internet Marketing <a href="http://www.attacat.co.uk/">http://www.attacat.co.uk/</a>, a marketing agency based in Edinburgh.  If you need similar information for your own website you can use their <a href="http://www.attacat.co.uk/resources/cookies">free cookie audit tool</a>.</p>
{% endblock %}
