{% extends "layouts/text-full.html" %}
{% block content_text %}
	<div class="row">
		<div class="col-md-12">
			<p>
				We have successfully received your donation, thank you! It is because of the generosity of members of the public like yourself that allows us to continue our campaign to keep the young people of Europe voting, while staying independent of political parties. We hope you continue to enjoy and get involved with our HappyVoting campaigns, both now and in the future. Thanks again.
			</p>
		</div>
	</div>
{% endblock %}
