{% extends "layouts/text.html" %}
{% block content_text %}
<p>
	+ Campaigns understands the importance of offline and online editorial content. With the importance of having a calculated impact on readers, we offer clients a variety of editorial services. With impact-assessment in mind, these services range from online content creation to advertorial writing, press releases and speeches.
</p>
<p>
	+ Campaigns specialise in the following editorial products:

	<h4>Campaign writing.</h4>
	Our editorial campaign content aim to increase reader numbers through traditional media platforms like opinion pieces and journalistic blogs. We also write and publish coherent and campaign relevant material like newsletters, research literature, blogs and social media content.

	<h4>Press releases.</h4>
	Aimed at a press audience, we offer clients a full campaign package, including written press releases and responses when dealing with members of the press. We also offer security packs for clients wishing to prepare pre-emptive crisis responses over a period of time.

	<h4>Speeches.</h4>
	Speeches play a vital role as a true sign of public relations. We therefore train in speech writing and prepare the methodological layout with focus groups for clients.

	<h4>Advertisement-Advertorial.</h4>
	We specialise in advertisement and campaign slogans. Most importantly, we offer clients a variety of intelligent keywords and campaign or advertisement messages. We also focus on advertorial layout for clients, including layout, graphic design, imagery and content.

</p>
{% endblock %}
