{% extends "layouts/base.html" %}
{% block content %}
	<!-- Time now: {{now()}} -->
	<div class="row">
		<div id="youtube" class="col-md-12 flex-video widescreen">
			<iframe width="560" height="315" src="//www.youtube.com/embed/h3VATWdrZ30" frameborder="0" allowfullscreen></iframe>
		</div>
		<div class="col-md-12">
			<a href="http://www.youngvoters.eu/eu" class="track" target="_blank">
				<div class="box full">
					Get involved with YoungVoters.eu
				</div>
			</a>
		</div>

	</div>
{% endblock %}
