{% extends "layouts/base.html" %}
{% block head %}
<meta property="og:type" content="video"/>
<meta property="og:image" content="https://i1.ytimg.com/vi/L7DyJQTZSxo/maxresdefault.jpg"/>
<meta property="og:description" content="International EU Youth Voting Campaign, The Making Of - https://www.happyvoting.eu https://www.facebook.com/happyvoting https://www.youngvoters.eu"/>
<meta property="og:video" content="http://www.youtube.com/v/L7DyJQTZSxo"/>
<meta property="og:video:type" content="application/x-shockwave-flash"/>
<meta property="og:video:width" content="1280"/>
<meta property="og:video:height" content="720"/>
{% endblock %}

{% block content %}
<div id="youtube" class="col-md-12 flex-video widescreen">
    <iframe width="853" height="480" src="//www.youtube.com/embed/nugA-J6A0fU?rel=0" frameborder="0" allowfullscreen></iframe>
</div>
{% endblock %}
