{% extends "base.html" %}
{% block content %}
<h2>Media Resources</h2>
<p>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque magna diam, sagittis in ipsum ornare, pretium auctor augue. Duis in turpis feugiat, cursus odio eget, egestas eros. Mauris nulla dolor, dictum non risus id, ultricies condimentum nibh. Quisque ac varius velit. Nullam quis tincidunt diam, sodales condimentum leo. Suspendisse potenti. Pellentesque facilisis fermentum nulla, quis aliquet odio. Sed scelerisque vehicula tempus. Duis fringilla nisi id aliquam sollicitudin.
</p>
<h3>PDFs</h3>
<ul>
	<li>File name number 1 <a href="">[DOWNLOAD]</a></li>
	<li>File name number 2 <a href="">[DOWNLOAD]</a></li>
	<li>File name number 3 <a href="">[DOWNLOAD]</a></li>
	<li>File name number 4 <a href="">[DOWNLOAD]</a></li>
</ul>
<h3>Videos</h3>
<ul>
	<li>Video number 1 <a href="">[DOWNLOAD]</a></li>
	<li>Video number 2 <a href="">[DOWNLOAD]</a></li>
	<li>Video number 3 <a href="">[DOWNLOAD]</a></li>
	<li>Video number 4 <a href="">[DOWNLOAD]</a></li>
</ul>
<h3>Images</h3>
<ul>
	<li>Image number 1 <a href="">[DOWNLOAD]</a></li>
	<li>Image number 2 <a href="">[DOWNLOAD]</a></li>
	<li>Image number 3 <a href="">[DOWNLOAD]</a></li>
	<li>Image number 4 <a href="">[DOWNLOAD]</a></li>
</ul>
{% endblock %}
