{% extends "layouts/text-full.html" %}

{% block content_text %}
	<p>
		Happy Voting is based on the need for more voter participation in the upcoming European Elections on May 20-25. There are two different ways to approach this issue: one is through increased education and informative projects that explain the European Elections and make sure that young people are involved in the decision making process. 
	</p>
	<p>
		The second approach is that young people are informed about the basic minimum when it comes to the European Parliamentary Elections. That means simply knowing that the elections exist, as well as the month in which they are held. It also means raising awareness and rendering them more attractive to young people and tailoring the message to their entertainment expectations. 
	</p>
	<p>
		That’s why Happy Voting plays an important role online. Instead of educating and informing about the political choices, we start from the bottom and try to portray the elections differently. The reason for choosing the entertainment industry as a point of reference for this campaign was precisely to ensure that – at the very least – young people are attracted to the idea of voting. The next step is of course providing further and better educational tools to understand the choices available to young people.
	</p>
	<h2>Lets make voting more inclusive and fun!</h2>
	<p>
		For journalists and media outlets wishing to cover the campaign, please find all the available resources and media information attached below, including info and campaign PDFs, HD video material and promotional images. For journalists that wish to interview Members of the European Parliament and volunteers who danced in the video, we would be happy to assist you with your media inquiries and interview requests. 
	</p>
	<p>
		For public and private broadcasters wishing to cover the campaign, we have over one hundred HD quality rushes, including behind the scenes audio-visual material and interviews with parliamentarians, volunteers, a nudist, youths and the leading candidate of the European Greens, Ska Keller.
	</p>
	<p>
		For further information and audio-visual material, contact us at <a class="track" href="mailto:media@happyvoting.eu">media@happyvoting.eu</a>
	</p>
	<p>
		All downloads and use of image is free of charge provided that Full Tunes Production is credited under the image.
	</p>
	<h2>Downloads</h2>
	<table class="media">
		<tr>
			<td>&#8226;</td>
			<td>Interview with EU MEP Ska Keller</td>
			<td>[831 mb]</td>
			<td><a class="track" href="http://elasticbeanstalk-eu-west-1-021357490719.s3.amazonaws.com/media/happy-voting-video-ska-keller-Interview.zip">[DOWNLOAD]</a></td>
		</tr>
		<tr>
			<td>&#8226;</td>
			<td>Free video / TV material (shots / rushes)</td>
			<td>[1 gb]</td>
			<td><a class="track" href="http://elasticbeanstalk-eu-west-1-021357490719.s3.amazonaws.com/media/happyvoting-media-videos-rushes-new.zip">[DOWNLOAD]</a></td>
		</tr>
		<tr>
			<td>&#8226;</td>
			<td>Happy Voting banner images (As seen above)</td>
			<td>[164 mb]</td>
			<td><a class="track" href="http://elasticbeanstalk-eu-west-1-021357490719.s3.amazonaws.com/media/happyvoting-photos-banners.zip">[DOWNLOAD]</a></td>
		</tr>
		<tr>
			<td>&#8226;</td>
			<td>Happy Voting Behind the Scenes Photos</td>
			<td>[128 kb]</td>
			<td><a class="track" href="http://elasticbeanstalk-eu-west-1-021357490719.s3.amazonaws.com/media/happyvoting-photos-behind-the-scenes.zip">[DOWNLOAD]</a></td>
		</tr>
		<tr>
			<td>&#8226;</td>
			<td>Logos for Happy Voting and affiliated organistions</td>
			<td>[164 mb]</td>
			<td><a class="track" href="http://elasticbeanstalk-eu-west-1-021357490719.s3.amazonaws.com/media/happyvoting-photos-logos.zip">[DOWNLOAD]</a></td>
		</tr>
		<tr>
			<td>&#8226;</td>
			<td>Campaign texts and Information</td>
			<td>[1 mb]</td>
			<td><a class="track" href="http://elasticbeanstalk-eu-west-1-021357490719.s3.amazonaws.com/media/happyvoting-pdf.zip">[DOWNLOAD]</a></td>
		</tr>
		<tr>
			<td>&#8226;</td>
			<td>Post electoral survey report, 2009</td>
			<td>[1.5 mb]</td>
			<td><a class="track" href="http://elasticbeanstalk-eu-west-1-021357490719.s3.amazonaws.com/media/happy-voting-pdf-electoral-report.pdf">[DOWNLOAD]</a></td>
		</tr>
		<tr>
			<td>&#8226;</td>
			<td>Youth Participation in the European Elections</td>
			<td>[90 kb]</td>
			<td><a class="track" href="http://elasticbeanstalk-eu-west-1-021357490719.s3.amazonaws.com/media/happy-voting-pdf-youth-participation.pdf">[DOWNLOAD]</a></td>
		</tr>
	</table>
	{% endblock %}
