{% extends "layouts/text-full.html" %}
{% block content_text %}
	<div class="row">
		<div class="col-md-6">
			<h2>Sharing is Caring</h2>
			<p>
				Sharing plays an enormous part of Happy Voting. Without you - the citizen - there would be no campaign at all. Your sharing efforts are what keep this campaign going, guaranteeing that as many viewers as possible get the opportunity to participate in Happy Voting and ultimately going to vote in the European Elections on May 20-25.
			</p>
			<p>
				Because we're not funded by political parties or political institutions, we remain totally independent and only focused on raising awareness about voting. This also means that we rely even more on the good-will and support from people like you, precisely because we don't pay for advertisement. It's all word of mouth and non-profit coverage.
			</p>
			<p>
				Voter turnout is what keeps us going across Europe today, so let's not lose that right altogether! You can help by sharing Happy Voting on Facebook and other social media sites. And don't forget to #VoteInMay.
			</p>
		</div>
		<div class="col-md-6">
			<h2>Donate to Help the Cause</h2>
			<p>
				By donating ANY amount you directly contribute to European voter-awareness. #HappyVoting remains completely independent from political parties and institutions, which is why we deeply rely on your individual support from across Europe. Whether a businessman or a student, your support counts towards our current efforts and our next online voter-awareness campaign.</p>
			<p>
				With European support we were able to kick-start Happy Voting! These charitable efforts greatly affected youth sentiments surrounding the European Elections and voter-turnout on a whole. It also started a wave of support, which must be maintained to encourage further voting and youth engagement. By helping raise funds for the next European voter-campaign you directly assist a dedicated team of young European minds in the shaping of another video-campaign, affecting millions of Europeans ranging from Sweden, France and Poland to Italy, Germany and Slovakia. Help us grow and #VoteInMay.
			</p>
			<p>
				<a title="Support the Young Voters Cause!" href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=doveri_vesterbye%40hotmail%2ecom&lc=BE&no_note=1&no_shipping=1&rm=1&return=http%3a%2f%2fwww%2ehappyvoting%2eeu%2fdonation%2dthanks&cancel_return=http%3a%2f%2fwww%2ehappyvoting%2eeu%2fdonation%2dcancel&currency_code=EUR&bn=PP%2dDonationsBF%3abtn_donate_LG%2egif%3aNonHosted&item_name=HappyVoting&item_number=Support%20Our%20Youth%20Voting%20Campaign"><img src="/static/images/take-action/donate.png" id="donate" /></a>
			</p>
		</div>
	</div>
{% endblock %}
