{% extends "layouts/text-full.html" %}
{% block content_text %}
	<div class="row">
		<div class="col-md-6">
			<h2>Sharing is Caring</h2>
			<p>
				Sharing plays an enormous part of Happy Voting. Without you - the citizen - there would be no campaign at all. Your sharing efforts are what keep this campaign going, guaranteeing that as many viewers as possible get the opportunity to participate in Happy Voting and ultimately going to vote in the European Elections on May 20-25.
			</p>
			<p>
				Because we're not funded by political parties or political institutions, we remain totally independent and only focused on raising awareness about voting. This also means that we rely even more on the good-will and support from people like you, precisely because we don't pay for advertisement. It's all word of mouth and non-profit coverage.
			</p>
			<p>
				Voter turnout is what keeps us going across Europe today, so let's not lose that right altogether! You can help by sharing Happy Voting on Facebook and other social media sites. And don't forget to #VoteInMay.
			</p>
		</div>
		<div class="col-md-6">
			<h2>Donate to Help the Cause</h2>
			<p>
				By donating a small sum to Happy Voting you promote Europe’s most important value: democracy. Because we remain independent from political parties, institutions and major stakeholders, we greatly rely on individual support from across Europe. Please help us raise money for our next voter campaign and send us an email to participate in the next video. We look forward to hearing from you!
			</p>
			<p>
				<a href="javascript:alert('Sorry, this feature will be implemented in the next dew days')"><img src="/static/images/take-action/donate.png" id="donate" /></a>
			</p>
		</div>
	</div>
{% endblock %}
